{% extends 'base.html' %}
{% block title %}Household Add{% endblock %}
{% block content %}
<h1 class="mainh1">가계부 추가</h1>
<form action="{% url 'pmos:household_add' %}" method="post">
{% csrf_token %}
<p><label for="id_expense"> 비용 : </label>{{ form.expense }}</p>
<p><label for="id_comment"> 비고 : </label>{{ form.comment }}</p>
<!--<p>
  <label for="id_person1"></label> person : 박형모 <input id="id_person1" type="radio" name="person" value="박형모">
  <label for="id_person2"></label> 백승빈 <input id="id_person2" type="radio" name="person" value="백승빈">
  <label for="id_person3"></label> 유형일 <input id="id_person3" type="radio" name="person" value="조현장">
  <label for="id_person4"></label> 조현장 <input id="id_person4" type="radio" name="person" value="유형일">
</p>-->
<p>
  <label for="id_use1">이체</label><input id="id_use1" type="radio" name="use" value="이체">
  <label for="id_use2">식비</label><input id="id_use2" type="radio" name="use" value="식비">
  <label for="id_use3">공공재</label><input id="id_use3" type="radio" name="use" value="공공재">
  <label for="id_use4">공과금</label><input id="id_use4" type="radio" name="use" value="공과금">
</p>
<button type="submit" class="button2">추가</button>
</form>
{% endblock %}
