{% extends 'base.html' %}
{% block head %}
<script type="text/JavaScript">
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        document.getElementById('lat').value=position.coords.latitude;
        document.getElementById('lon').value=position.coords.longitude;
      }, function(error) {
        alert('Error occurred. Error code: ' + error.code);
      },
      {timeout: 30000, enableHighAccuracy: true, maximumAge: 75000});}
    else {
      alert('GPS를 지원하지 않습니다');
    }
  }
</script>
{% endblock %}
{% block title %}Memo Edit{% endblock %}
{% block content %}
    <h1>메모 수정</h1>
   <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.text }}
        <br>
        <br>
        <label for="lat">lat : </label><input type="number" step=any name="lat" id="lat"/>&nbsp;&nbsp;&nbsp;<label for="lon">lon : </label><input type="number" step=any name="lon" id="lon"/><br>
        <br>
        <button class="button2" onClick = "getLocation()">현재위치등록</button>&nbsp;&nbsp;&nbsp;<button type="submit" class="button2">수정</button>
    </form>
{% endblock %}
