<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>My Memo</h1>
      <ul>
        {% for Memocond in memocond_list %}
          <p> memo : {{ Memocond.text }}</p>
          <p> location : {{ Memocond.locate }}</p>
          <p> temperature : {{ Memocond.temp }}</p>
          <p> humidity : {{ Memocond.humi }}</p>
          <p> weather : {{ Memocond.weat }}</p>
          <p> date : {{ Memocond.date | date:"y-m-d-h:m:s" }}</p>
        {% endfor %}
      </ul><br>

      <input
          type="button"
          class="go_to_add_memo"
          value="add memo"
          onclick="location.href='{% url 'pmos:memo_add' %}';"
      >
  </body>
</html>
