<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1><a href="{% url 'home' %}">HOME</a></h1>
  <h2><a href="{% url 'pmos:monitor' %}">방 모니터링</a></h2>
  <h2><a href="{% url 'pmos:memo' %}">메모</a></h2>
  <h2><a href="{% url 'pmos:household_main' %}">가계부</a></h2>
  <!--<h2><a href="localhost:21">FTP server</a></h2>-->
  <button class="button2" type="button" onclick="location.href='{% url 'logout' %}'">로그아웃</button>
{% else %}
  <h1>로그인 해주세요</h1>
  <button class="button2" type="button" onclick="location.href='{% url 'login' %}'">로그인</button>
{% endif %}
{% endblock %}
